asgiref==3.9.1 ; python_version >= "3.12"
attrs==25.3.0 ; python_version >= "3.12"
dj-database-url==3.0.1 ; python_version >= "3.12"
django-filter==24.2 ; python_version >= "3.12"
django==5.0.6 ; python_version >= "3.12"
djangorestframework-simplejwt==5.3.1 ; python_version >= "3.12"
djangorestframework==3.15.2 ; python_version >= "3.12"
drf-spectacular==0.27.2 ; python_version >= "3.12"
gunicorn==22.0.0 ; python_version >= "3.12"
inflection==0.5.1 ; python_version >= "3.12"
jsonschema-specifications==2025.4.1 ; python_version >= "3.12"
jsonschema==4.25.0 ; python_version >= "3.12"
packaging==25.0 ; python_version >= "3.12"
psycopg[binary]>=3.2.9 ; python_version >= "3.12" and implementation_name != "pypy"
pyjwt==2.10.1 ; python_version >= "3.12"
python-dotenv==1.0.1 ; python_version >= "3.12"
pyyaml==6.0.2 ; python_version >= "3.12"
referencing==0.36.2 ; python_version >= "3.12"
rpds-py==0.27.0 ; python_version >= "3.12"
sqlparse==0.5.3 ; python_version >= "3.12"
typing-extensions==4.14.1 ; python_version >= "3.12"
tzdata==2025.2 ; python_version >= "3.12" and sys_platform == "win32"
uritemplate==4.2.0 ; python_version >= "3.12"
whitenoise==6.9.0 ; python_version >= "3.12"
